fastapi~=0.115.12
uvicorn~=0.34.3
pydantic~=2.11.7
serverchan_sdk~=1.0.6
gunicorn~=23.0.0
tencentcloud-sdk-python-common~=3.0.1407
tencentcloud-sdk-python-asr~=3.0.1407
cos-python-sdk-v5~=1.9.37
sqlalchemy~=2.0.41